Debug
archive
.vs/CSV_NewGeneration/v16/ipch/AutoPCH
.vs/CSV_NewGeneration
CSV_NewGeneration/x64
x64
CSV_NewGeneration/testset.csv
CSV_NewGeneration/trainset.csv
CSV_NewGeneration/.vs
.vs
CSV_NewGeneration/extreme.csv
CSV_NewGeneration/pattern.csv
CSV_NewGeneration/testset_x.csv
CSV_NewGeneration/testset_y.csv
CSV_NewGeneration/testset_z.csv
CSV_NewGeneration/trainset_x.csv
CSV_NewGeneration/trainset_y.csv
CSV_NewGeneration/trainset_z.csv
CSV_NewGeneration/pattern_x.csv
CSV_NewGeneration/pattern_y.csv
CSV_NewGeneration/pattern_z.csv
CSV_NewGeneration/pattern x.png
CSV_NewGeneration/pattern y.png
CSV_NewGeneration/pattern z.png
CSV_NewGeneration/testset_attitude_pitch.csv
CSV_NewGeneration/testset_attitude_roll.csv
CSV_NewGeneration/testset_attitude_yaw.csv
CSV_NewGeneration/testset_gravity_x.csv
CSV_NewGeneration/testset_gravity_y.csv
CSV_NewGeneration/testset_gravity_z.csv
CSV_NewGeneration/testset_rotation_rate_x.csv
CSV_NewGeneration/testset_rotation_rate_y.csv
CSV_NewGeneration/testset_rotation_rate_z.csv
CSV_NewGeneration/testset_user_acceleration_x.csv
CSV_NewGeneration/testset_user_acceleration_y.csv
CSV_NewGeneration/testset_user_acceleration_z.csv
CSV_NewGeneration/trainset_attitude_pitch.csv
CSV_NewGeneration/trainset_attitude_roll.csv
CSV_NewGeneration/trainset_attitude_yaw.csv
CSV_NewGeneration/trainset_gravity_x.csv
CSV_NewGeneration/trainset_gravity_y.csv
CSV_NewGeneration/trainset_gravity_z.csv
CSV_NewGeneration/trainset_rotation_rate_x.csv
CSV_NewGeneration/trainset_rotation_rate_y.csv
CSV_NewGeneration/trainset_rotation_rate_z.csv
CSV_NewGeneration/trainset_user_acceleration_x.csv
CSV_NewGeneration/trainset_user_acceleration_y.csv
CSV_NewGeneration/trainset_user_acceleration_z.csv
CSV_NewGeneration/pattern_attitude_pitch.csv
CSV_NewGeneration/pattern_attitude_roll.csv
CSV_NewGeneration/pattern_attitude_yaw.csv
CSV_NewGeneration/pattern_gravity_x.csv
CSV_NewGeneration/pattern_gravity_y.csv
CSV_NewGeneration/pattern_gravity_z.csv
CSV_NewGeneration/pattern_rotation_rate_x.csv
CSV_NewGeneration/pattern_rotation_rate_y.csv
CSV_NewGeneration/pattern_rotation_rate_z.csv
CSV_NewGeneration/pattern_user_acceleration_x.csv
CSV_NewGeneration/pattern_user_acceleration_y.csv
CSV_NewGeneration/pattern_user_acceleration_z.csv
CSV_NewGeneration/pattern gravity x.png
CSV_NewGeneration/pattern gravity y.png
CSV_NewGeneration/pattern gravity z.png
CSV_NewGeneration/pattern pitch.png
CSV_NewGeneration/pattern roll.png
CSV_NewGeneration/pattern rotation rate x.png
CSV_NewGeneration/pattern rotation rate y.png
CSV_NewGeneration/pattern rotation rate z.png
CSV_NewGeneration/pattern user acceleration x.png
CSV_NewGeneration/pattern user acceleration y.png
CSV_NewGeneration/pattern user acceleration z.png
CSV_NewGeneration/pattern yaw.png
CSV_NewGeneration/pattern.png
CSV_NewGeneration/pattern_1.png
CSV_NewGeneration/testset.png
CSV_NewGeneration/evaluation.csv
CSV_NewGeneration/evaluation.png
CSV_NewGeneration/performance.png
